.ConfigOutput {
    position: sticky;
    top: 3rem;
}

.ConfigOutput--code-box {
    max-height: calc(100vh - 38rem);
    margin: 2rem 0;
}

.ConfigOutput--copy-hint {
    display: inline-block;
    margin-left: 1rem;
    font-size: 1.5rem;
}

.ConfigOutput--open-link {
    font-size: 2rem;
    margin-top: 2rem;
}
