.FontBox {
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
}
.FontBox--fields {
    flex: 1 1 auto;
    margin-right: 2rem;
    background: rgb(245,245,245);
    padding: 2rem;
    border-radius: 0.5rem;
}

.FontBox--font-display {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 2rem;
}

.FontBox--field {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.FontBox--label {
    flex: 0 0 14rem;
    font-size: 1.75rem;
    line-height: 2rem;
    margin-right: 1rem;
}

.FontBox--input--is-disabled {
    color: #999;
}

.FontBox--action {
    flex: 0 0 auto;
}
