.Headline {
    letter-spacing: 0.1ex;
}

.Headline-h1 {
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 3rem;
}

.Headline-h2 {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 2rem;
}
