html {
    font-size: 8px; /* baseline grid */
}

body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Fira Code', monospace;
}

h1,h2,h3,h4,h5 {
    margin: 0;
}
